KQ_API_HOST=0.0.0.0
KQ_API_PORT=21120
KQ_PUBLIC_API_URL=http://43.154.197.96/kq-api/api

KQ_DB_HOST=127.0.0.1
KQ_DB_PORT=23306
KQ_DB_USER=kq_remote_link
KQ_DB_PASSWORD=your_mysql_password
KQ_DB_NAME=kq_remote_link
KQ_DB_CREATE_DATABASE=N

KQ_SUBSITE_NAME=https://remote.kunqiongai.com/
KQ_API_WEB_BASE_URL=https://api-web.kunqiongai.com
