KQ_API_HOST=0.0.0.0
KQ_API_PORT=21120
KQ_PUBLIC_API_URL=http://43.154.197.96/kq-api/api
KQ_ADMIN_GATE_TOKEN=qwertyuiopasdfghjklzxcvbnm
KQ_REQUEST_GATE_STATE_FILE=/app/data/request-gate.json

KQ_DB_HOST=82.157.237.217
KQ_DB_PORT=35007
KQ_DB_USER=kqai_web_yuancheng
KQ_DB_PASSWORD=your_mysql_password
KQ_DB_NAME=kqai_web_yuancheng
KQ_DB_CREATE_DATABASE=N

KQ_SUBSITE_NAME=https://remote.kunqiongai.com/
KQ_API_WEB_BASE_URL=https://api-web.kunqiongai.com
